@font-face {
  font-family: 'Lucida Grande';
  src: url('../font/lucida_grande-webfont.woff2') format('woff2'),
       url('../font/lucida_grande-webfont.woff') format('woff'),
       url('../font/lucida_grande.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}



* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #3399CC;
  border: 15px solid #2B81AC;
  color: #fff;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
}
main {
  background-color: #fff;
  margin-bottom: 30px;
}
.list {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.list:hover {
  cursor: default;
}
.list__item  {
  display: inline-block;
  background-color: lightseagreen;
  margin: 0.5%;
  font-size: 24px;
  text-align: center;
  transition: all .1s ease-in;
}

.title {
  margin-bottom: 15px;
}
.subtitle {
  margin-bottom: 20px;
  color: rgba(255,255,255,.8);
}

.list__item--1-2 {
  width: 49%;
}

.list__item--1-4 {
  width: 24%;
}
.list__item--1-1 {
  width: 99%;
}

ul:hover li:not(:hover) {
  opacity: .5;
}
/* //////////////// */

.list__item--curiousBlue {
  background-color: #3399CC;
}

.list__item--turquoise {
  background-color: #33CCCC;
}

.list__item--strikemaster {
  background-color: #996699;
}

.list__item--crail {
  background-color: #C24747;
}

.list__item--terracotta {
  background-color: #E2674A;
}

.list__item--goldenTainoi {
  background-color: #FFCC66;
}

.list__item--deYork {
  background-color: #99CC99;
}

.list__item--patina {
  background-color: #669999;
}

.list__item--hopbush {
  background-color: #CC6699;
}

.list__item--seaGreen {
  background-color: #339966;
}

.list__item--kimberly {
  background-color: #666699;
}
/* //////////// */
footer {
  margin-bottom: 100px;
}